/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 29, 2016, 10:44:21 AM
    Author     : sastha
*/
.gallery-set{ 
    
    text-align: center;
    display: block;
    position:absolute;
    margin: auto;
    width: 94%;    
    left: 0%;
    right: 0%;
    height: 850px;
    padding: 40px;
    top:1690px;
    background: rgba(0,0,0,0.7);
    border: solid 1px rgba(0,0,0,0.31);
    color: white;
    cursor: pointer;
}
.row {
   text-align: center;
   padding: 10px;
}
.width8-33 {
    width: 8.33%;
}
.width16-66 {
    width: 16.66%;
}
.width24-99 {
    width: 24.99%;
}
.width33-33 {
    width: 33.33%;
}
.width41-66 {
    width: 41.66%;
}
.width49-99 {
    width: 49.99%;
}
.width58-31 {
    width: 58.31%;
}
.width66-64 {
    width: 66.64%;
}
.width74-97 {
    width: 74.97%;
}
.width83-3 {
    width: 83.3%;
}
.width91-63 {
    width: 91.63%;
}
.width99-96 {
    width: 99.96%;
}


.cols {
    position: relative;
    padding: 4px;
    border: 1px solid #CCC;
    display: inline-block;
    margin: 20px;
}
.cols:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px #CCC;
}
.cols:hover img {
    background: rgba(0,0,0,.6);
    
}
.size200x200 {
    width: 280px;
    height: 270px;
}
.image-container {
    background: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}

.image-container:hover .banner {
    bottom: 0px;
}

.icon {
 margin:4px;
z-index: 3;
}
.banner {
    z-index: 3;
    position: absolute;
    width: 200px;
    height: 270px;
    opacity: 0.64;
    background: #00b3b3;
    bottom: 310px;
    -webkit-transition: .5s linear;
    transition: .5s linear;
    width: 100%;
    left:1px;
    font-size: 30px;
    font: bold 27px/34px sans-serif;
    
    cursor: pointer;
}
.p-tag-gallery{
    color: rgba(120,10,5,.74);
    z-index: 999;
    position: absolute;
    margin: auto;
    left: 30px;
    right:30px;
    font:normal 17px/34px sans-serif;
    top: 210px;
    bottom: 110px;
    
    cursor: pointer;
 }

h1:hover{
    text-decoration: underline;
    cursor: pointer;   
}
/*****************************    responsive      ********************************/
/*
@media screen and (max-width: 420px) {
.size200x200 {
        width: 268px;
        height: 268px;
}
}

@media screen and (max-width: 640px) and (min-width: 420px) {
.size200x200 {
        width: 173px;
        height: 173px;
}
}

@media screen and (max-width: 1000px) and (min-width: 915px) {
.size200x200 {
        width: 223px;
        height: 223px;
}
}

@media screen and (max-width: 1106px) and (min-width: 1000px) {
.size200x200 {
        width: 253px;
        height: 253px;
}
}

@media screen and (max-width: 1193px) and (min-width: 1100px) {
.size200x200 {
        width: 150px;
        height: 150px;
}
}

@media screen and (max-width: 1200px) and (min-width: 1115px) {
.size200x200 {
        width: 151px;
        height: 151px;
}
}

@media screen and (max-width: 1800px) and (min-width: 1200px) {
.size200x200 {
        width: 171px;
        height: 171px;
}
}

@media screen and (max-width: 1800px) and (min-width: 1240px) {
.size200x200 {
        width: 181px;
        height: 181px;
}
}*/
/***********xxxxxxxxx      responsive ends         xxxxxxxxx***********/