
.row {
	text-align: center;

}
.width8-33 {
	width: 8.33%;
}
.width16-66 {
	width: 16.66%;
}
.width24-99 {
	width: 24.99%;
}
.width33-33 {
	width: 33.33%;
}
.width41-66 {
	width: 41.66%;
}
.width49-99 {
	width: 49.99%;
}
.width58-31 {
	width: 58.31%;
}
.width66-64 {
	width: 66.64%;
}
.width74-97 {
	width: 74.97%;
}
.width83-3 {
	width: 83.3%;
}
.width91-63 {
	width: 91.63%;
}
.width99-96 {
	width: 99.96%;
}
.cols {
	position: relative;
	padding: 4px;
	border: 1px solid #CCC;
	display: inline-block;
	margin: 4px;
}
.cols:hover {
	box-shadow: 0px 0px 2px 2px #CCC;
}
.cols:hover img {
	opacity: 0.8;
}
.size100x100 {
	width: 100px;
	height: 100px;
}
.size200x200 {
	width: 200px;
	height: 200px;
}
.image-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.image-preview {
}
.image-container:hover .banner {
	bottom: 0px;
}
.banner {
	z-index: 3;
	position: absolute;
	width: 200px;
	height: 30px;
	opacity: 0.6;
	background: #fff;
	bottom: -50px;
	-webkit-transition: .5s linear;
	transition: .5s linear;
	width: 100%;
}
/*.icon {
 margin:4px;
    z-index: 3;
}*/
.icon:hover {
}

@media screen and (max-width: 420px) {
.size200x200 {
	width: 268px;
	height: 268px;
}
}

@media screen and (max-width: 640px) and (min-width: 420px) {
.size200x200 {
	width: 173px;
	height: 173px;
}
}

@media screen and (max-width: 1000px) and (min-width: 915px) {
.size200x200 {
	width: 223px;
	height: 223px;
}
}

@media screen and (max-width: 1106px) and (min-width: 1000px) {
.size200x200 {
	width: 253px;
	height: 253px;
}
}

@media screen and (max-width: 1193px) and (min-width: 1100px) {
.size200x200 {
	width: 150px;
	height: 150px;
}
}

@media screen and (max-width: 1200px) and (min-width: 1115px) {
.size200x200 {
	width: 151px;
	height: 151px;
}
}

@media screen and (max-width: 1800px) and (min-width: 1200px) {
.size200x200 {
	width: 171px;
	height: 171px;
}
}

@media screen and (max-width: 1800px) and (min-width: 1240px) {
.size200x200 {
	width: 181px;
	height: 181px;
}
}